.chip {
  margin: 5px;
  padding: 5px;
  display: inline-flex;
  border-radius: 100px;
}

.chip.small {
  padding: 3px;
}

.chip.small .chip-img {
  height: 24px;
}

.chip.small .chip-text {
  font-size: 11px;
}

.chip.big {
  padding: 6px;
}

.chip.big .chip-img {
  height: 32px;
}

.chip.big .chip-text {
  font-size: 15px;
  padding: 0 7px;
}

.chip-img {
  display: inline-block;
  height: 28px;
  border-radius: 50%;
}

.chip-text {
  display: flex;
  align-items: center;
  padding: 0 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.chip.outlined.primary {
  color: rgb(var(--primary));
  border-color: rgb(var(--primary));
  box-shadow: 0 0 0 2px rgb(var(--primary));
}

.chip.outlined.warn {
  color: rgb(var(--warn));
  border-color: rgb(var(--warn));
  box-shadow: 0 0 0 2px rgb(var(--warn));
}

.chip.outlined.danger {
  background: inherit;
  color: rgb(var(--danger));
  box-shadow: 0 0 0 2px rgb(var(--danger));
}

.chip.outlined.info {
  color: rgb(var(--info));
  border-color: rgb(var(--info));
  box-shadow: 0 0 0 2px rgb(var(--info));
}

.chip.outlined.success {
  color: rgb(var(--success));
  border-color: rgb(var(--success));
  box-shadow: 0 0 0 2px rgb(var(--success));
}