@import './components/alert.css';
@import './components/button.css';
@import './components/chip.css';
@import './components/list.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
:root {
  --primary: 238, 80, 52;
  --warn: 249, 185, 120;
  --danger: 222, 77, 68;
  --success: 68, 182, 72;
  --info: 0, 167, 213;
  --dark: 34, 47, 62;
  --radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

del {
  background-color: rgb(255 0 0 / 50%);
}

ins {
  text-decoration: none;
  background-color: rgb(36 216 36 / 50%);
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-bottom: 0;
  font-size: 50px;
  letter-spacing: 1px;
}

p:first-of-type {
  margin-top: 20px;
}

p {
  line-height: 1.6;
  font-size: 25px;
  font-weight: 300;
  font-family: 'PT Serif', sans-serif;
  margin: 50px 0;
}

.primary, .warn, .danger, .success, .info {
  box-shadow: 0px 2px 5px 0 rgba(180, 180, 180, .4);
}

.primary {
  background: rgb(var(--primary));
  color: #fff;
}

.primary:focus {
  box-shadow: 0 0 1px 3px rgba(var(--primary), .4);
}

.warn {
  background: rgb(var(--warn));
  color: #000;
}

.warn:focus {
  box-shadow: 0 0 1px 3px rgba(var(--warn), .4);
}

.danger {
  background: rgb(var(--danger));
  color: #fff;
}

.danger:focus {
  box-shadow: 0 0 1px 3px rgba(var(--danger), .4);
}

.success {
  background: rgb(var(--success));
  color: #fff;
}

.success:focus {
  box-shadow: 0 0 1px 3px rgba(var(--success), .4);
}

.info {
  background: rgb(var(--info));
  color: #fff;
}

.info:focus {
  box-shadow: 0 0 1px 3px rgba(var(--info), .4);
}

.dark {
  background: rgb(var(--dark));
  color: #fff;
}

.dark:focus {
  box-shadow: 0 0 1px 3px rgba(var(--dark), .4);
}

hr {
  margin-top: 50px;
}

a {
  color: inherit;
}